<!doctype html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <div class="lang-menu">
      <a href="#" class="lang-menu__link lang-menu__link--selected">English</a>
      <a href="#" class="lang-menu__link">Español</a>
    </div>

    <div class="hero">
      <div class="hero__item">
        <img src="img/juicebox-artwork.png" alt="Juice Box Artwork">
      </div>
      <div class="hero__item hero__item--right">
        <h3 class="hero__tagline">A virtual machine designed for programming workshops.</h3>
        <a href="#get-started" class="button button--primary">Get Started</a>
      </div>
    </div>

    <hr />

    <div class="section-title" id="get-started">
      <h4 class="section-title__text">How to use Juice Box</h4>
    </div>

    <div class="how-to-step">
      <div><span class="how-to-step__number">1</span></div>
      <div><span class="how-to-step__text">Download the latest VirtualBox version.</span></div>
      <div>
        <a href="#" class="button button--download">Download VirtualBox</a>
      </div>
    </div>
    <div class="screenshot">
      <img src="img/virtualbox-screenshot.png">
    </div>
  </div>

  <div class="how-to-step--featured">
    <div class="how-to-step__wrapper">
      <div class="how-to-step">
        <div><span class="how-to-step__number">2</span></div>
        <div><span class="how-to-step__text">Download the latest Juice Box version.</span></div>
        <div>
          <a href="#" class="button button--download">Download Juice Box</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="how-to-step how-to-step--no-button">
      <div><span class="how-to-step__number">3</span></div>
      <div><span class="how-to-step__text how-to-step__text--no-button">Open VirtualBox and import the Juice Box file. Start Juice Box and start coding.</span></div>
    </div>
    <div class="screenshot">
      <img src="img/import-screenshot.png">
    </div>

    <hr>

    <div class="section-title">
      <h4 class="section-title__text">Included in Juice Box</h4>
    </div>
    <div class="screenshot">
      <img src="img/tech-logos.png">
    </div>

    <hr>

    <footer>
      <div class="footer__logo">
        <img src="img/footer-logo.png">
      </div>
      <div class="footer-menu">
        <a href="#" class="footer-menu__link">Other versions</a>
        <a href="#" class="footer-menu__link">Report bugs</a>
        <a href="#" class="footer-menu__link">Source on GitHub</a>
        <a href="#" class="footer-menu__link">Contact</a>
      </div>
    </footer>

  </div>

  {{ content }}
</body>
</html>
